/* Import the font if not using CDN in HTML */
@import url('https://fonts.bunny.net/css?family=vazirmatn:300,400,500,700');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FC9E4F;
    color: #020122;
    font-family: 'vazirmatn', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em; /* Adjust the font-size as needed */
}

p {
    font-size: 1.5em; /* Adjust the font-size as needed */
}
